<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="css/company.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Document</title>
</head>
<body>
    <div class="square-box">
        <img src="public/Building and shape.png" alt="Image" id="Image-company">
      </div>
        <div class="company-container">
                <form action="/company/add-company" class="" method="post">
                    <div class="company-box">
                        <div class="header-company"><h3>Welcome to ___</h3>
                        <p>Let's create your workspace here by your own</p>
                        </div>
                        <div class="input-company">
                            <i class="fa fa-user">
                                <p class="project-name">project name</p>
                            </i>
                            <br>
                            <input type="text" name="name_company" placeholder="ชื่อโครงงาน" class="input_text_company" autocomplete="off" required>
                            <button class="company-btn" type="submit">create your workspace</button>
                        </div> 
                    </div>
                </form>
            </div>
            <!--check  pls-->
            <div class="intivation-container">
                <div class="header-intivation">
                    <i class="fa fa-user"></i>
                    <p>intivation</p>
                </div>
                <form action="/" method="get" class="intivation-form">
                    <div class="intivation-code">
                        <div class="input_with_button">
                            <button class="intivation-btn" type="submit">submit</button>
                            <input type="text" name="ojectidcompany" placeholder="647b68bb2e00d501db1f1925" class="input_text_ojectidcompany" autocomplete="off" required>
                           
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="circle-box">
          </div>
        


</body>
    <script>

    </script>

</html>