@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {

	background-color: #8F51D1;
	margin: 20px;
}

.chat-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-width: 1200px;
  	margin: 0 auto;
	  background: #fff;
  }
  
  .chat-header {
	background-color: #333;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	
  }
  
  .chat-main {
	display: flex;
	flex-grow: 1;
  }
  
  .chat-sidebar {
	width: 20%;
	background-color: #f4f4f4;
	padding: 10px;
  }
  
  .chat-messages {
	flex-grow: 1;
	padding: 10px;

	height: 70vh; /* set the height to 70% of the viewport height */
  overflow-y: scroll; /* add vertical scrollbars if the content overflows */
}
  
  
  .chat-messages .message {
	margin-bottom: 10px;
  }
  
  .chat-messages .message .meta {
	font-size: 0.8rem;
	color: #3c3c6a;
  }
  
  .chat-messages .message .text {
	font-size: 1rem;
	color: black;
  }
  
  .chat-form-container {
	background-color: #f4f4f4;
	display: flex;
	align-items: center;
	padding: 10px;
  }
  
  .chat-form-container form {
	display: flex;
	align-items: center;
	width: 100%;
  }
  
  .chat-form-container form input {
	flex-grow: 1;
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-right: 10px;
	color: black;
  }
  
  .chat-form-container form button {
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
  }
