*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: 'Itim', cursive;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    background: linear-gradient(45deg,#6D1EB0,#1e0038,#994DD8);
    background-size:250% 250% ;
    
}
@keyframes color{
         0%{
            background-position: 0 50%;
    }
         50%{
            background-position: 100% 50%;
    }
         100%{
             background-position: 0 50%;
    }
}
/*login*/
.login_form_container{
    position: relative;
    width: 400px;
    height: 500px;
    max-width: 400px;
    max-height: 500px;
    background: #040717;
    border-radius: 50px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 70px;
}
.login_form_container::before{
    
    position: absolute;
    width: 170%;
    height: 170%;
    content: '';
    background-image: conic-gradient(transparent, transparent, transparent, #ffffff);
    animation: rotate_border 6s linear infinite;

}
.login_form_container::after{
    
    position: absolute;
    width: 170%;
    height: 170%;
    content: '';
    background-image: conic-gradient(transparent, transparent, transparent, #ffffff);
    animation: rotate_border 6s linear infinite;
    animation-delay: -3s;
}
@keyframes rotate_border{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.login_form{
    position: absolute;
    content: '';
    background-color: #6D1EB0;
    border-radius: 50px 5px;
    inset: 5px;
    padding: 50px 40px;
    z-index: 10;
    color: #ffffff;

} 
h2{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
.input_group{
    margin-top: 40px;
    position:relative;
    display:flex;
    align-items: center;
    justify-content: start;
}
.input_text{
    width: 95%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #00ccff;
    font-size: 20px;
    padding-left: 10px;
    color: #ffffff;

}
::placeholder{
    font-size: 15px;
    color: #ffffff;
    letter-spacing: 1px;

}
.fa{
    font-size: 20px;

}
#login_button{
    position: relative;
    width: 300px;
    height: 40px;
    transition: 1s;
    margin-top: 50px;


}
#login_button a{
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none;
    z-index: 10;
    cursor: pointer;
    font-size: 22px;
    letter-spacing: 2px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    background: linear-gradient(45deg,#6D1EB0,#9154C6,#994DD8,#9154C6,#6D1EB0);
    box-shadow: 0px 0px 8px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.or-text{
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: white;
}
#logingoogle_button{
    position: relative;
    width: 300px;
    height: 40px;
    transition: 1s;
    margin-top: 10px;
}
#logingoogle_button a{
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none;
    z-index: 10;
    cursor: pointer;
    font-size: 22px;
    letter-spacing: 2px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    background: linear-gradient(45deg,#6D1EB0,#9154C6,#994DD8,#9154C6,#6D1EB0);
    box-shadow: 0px 0px 8px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fotter {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

}
.fotter a{
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
}
.glowIcon {
    text-shadow: 0 0 10px #00ccff;

}

/*register*/
.register_form_container_1{
    position: relative;
    width: 400px;
    height: 500px;
    max-width: 400px;
    max-height: 500px;
    background: #040717;
    border-radius: 50px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 70px;
}

.register_form_container::before{
    
    position: absolute;
    width: 170%;
    height: 170%;
    content: '';
    background-image: conic-gradient(transparent, transparent, transparent, #ffffff);
    animation: rotate_border 6s linear infinite;

}
.register_form_container::after{
    
    position: absolute;
    width: 170%;
    height: 170%;
    content: '';
    background-image: conic-gradient(transparent, transparent, transparent, #ffffff);
    animation: rotate_border 6s linear infinite;
    animation-delay: -3s;
}
@keyframes rotate_border{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.register_form{
    position: absolute;
    content: '';
    background-color: #6D1EB0;
    border-radius: 50px 5px;
    inset: 5px;
    padding: 50px 40px;
    z-index: 10;
    color: #ffffff;

} 
h2{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
.input_group{
    margin-top: 40px;
    position:relative;
    display:flex;
    align-items: center;
    justify-content: start;
}
.input_text{
    width: 95%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #00ccff;
    font-size: 20px;
    padding-left: 10px;
    color: #ffffff;

}
::placeholder{
    font-size: 15px;
    color: #ffffff;
    letter-spacing: 1px;

}
.fa{
    font-size: 20px;

}
#login_button{
    position: relative;
    width: 300px;
    height: 40px;
    transition: 1s;
    margin-top: 50px;


}
#login_button button{
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none;
    z-index: 10;
    cursor: pointer;
    font-size: 22px;
    letter-spacing: 2px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    background: linear-gradient(45deg,#6D1EB0,#9154C6,#994DD8,#9154C6,#6D1EB0);
    box-shadow: 0px 0px 8px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.or-text{
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: white;
}
#logingoogle_button{
    position: relative;
    width: 300px;
    height: 40px;
    transition: 1s;
    margin-top: 10px;
}
#logingoogle_button a{
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none;
    z-index: 10;
    cursor: pointer;
    font-size: 22px;
    letter-spacing: 2px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    background: linear-gradient(45deg,#6D1EB0,#9154C6,#994DD8,#9154C6,#6D1EB0);
    box-shadow: 0px 0px 8px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fotter {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

}
.fotter a{
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
}
.glowIcon {
    text-shadow: 0 0 10px #00ccff;

}


/* register new */
.register-form i{
    margin-right: 5px;
    width: 5%;
}
.register-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    /* height: 38%; */
    background-color: #6D1EB0;
    border: #ccc solid 1px;
    padding: 20px;
    z-index: 10;
    display: none;
  }
  
  
  .register-close-btn {
    float: right;
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
  }

  .input_text {
    width: 85%;
    margin-left: 10px;
  }

  .register-text {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
    color: white ;
    border:#6D1EB0 1px;

  }
  
  .register-form {
    margin-top: 20px;
  }
  
  .register-middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .left-side {
    width: 120px;
  }
  
  .username-text,
  .password-text,
  .re-password-text,
  .email-text {
    display: block;
    margin-bottom: 5px;
  }
  
  .right-side input {
    width: 160px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .register-btn {
    display: block;
    margin-top: 25px;
    margin-left: 38px;
    padding: 10px;
    width: 80%;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .forget-password-box {
    width: 300px;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  .forget-close-btn {
    float: right;
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
  }
  
  .forget-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .forget-form {
    margin-top: 20px;
  }
  
  .forget-input {
    margin-bottom: 10px;
  }
  
  .forget-input label {
    display: block;
    margin-bottom: 5px;
  }
  
  .forget-input input {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .forget-submit {
    display: block;
    margin-top: 20px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }